@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-work: "Work Sans", sans-serif;

  --color-primary: #ffff00;
  --color-background: #121212;

  --shadow-brutal: 8px 8px 0px 0px #ffff00;
  --shadow-brutal-black: 8px 8px 0px 0px #000000;
  --shadow-brutal-white: 8px 8px 0px 0px #ffffff;
  --shadow-brutal-sm: 4px 4px 0px 0px #ffff00;
  --shadow-brutal-black-sm: 4px 4px 0px 0px #000000;
  --shadow-brutal-white-sm: 4px 4px 0px 0px #ffffff;
}

@layer base {
  body {
    @apply bg-zinc-950 text-white font-work antialiased transition-colors duration-200;
  }
}
